@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * https://fontsfree.net/?s=montserrat
 */
@font-face {
  font-family: "Montserrat-ExtraBoldItalic";
  src: url("/fonts/ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-ExtraLight";
  src: url("/fonts/Montserrat-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("/fonts/Montserrat-Light.ttf") format("truetype");
}


@font-face {
  font-family: "Montserrat-Medium";
  src: url("/fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-MediumItalic";
  src: url("/fonts/Montserrat-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("/fonts/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Thin";
  src: url("/fonts/Montserrat-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-ThinItalic";
  src: url("/fonts/Montserrat-ThinItalic.ttf") format("truetype");
}
